<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ke_ntds">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/stethoscope"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/stethoscope"
        android:supportsRtl="true"
        android:theme="@style/Theme.KENTDs">
        <activity
            android:name=".TungiasisTreatmentActivity"
            android:exported="false" />
        <activity
            android:name=".SchistosomiasisActivity"
            android:exported="false" />
        <activity
            android:name=".FilariasisActivity"
            android:exported="false" />
        <activity
            android:name=".GlaucomaActivity"
            android:exported="false" />
        <activity
            android:name=".TungiasisActivity"
            android:exported="false" />
        <activity
            android:name=".DiagnosisActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".DiseaseMobility"
            android:exported="false" />
        <activity
            android:name=".AboutUs"
            android:exported="false" />
        <activity
            android:name=".Doctors"
            android:exported="false" />
        <activity
            android:name=".Treatment"
            android:exported="false" />
        <activity
            android:name=".DiseasePrevalence"
            android:exported="false" />
        <activity
            android:name=".DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>